*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: "Luminary", fantasy;
}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar
{
    background-image: linear-gradient(to right, #ff0000, #4d1212);
    padding: 0 !important;
}
.navbar-brand img
{
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.fa-bars
{
    color: #fff;
    font-size: 30px !important;
}
.navbar-toggler
{
    outline: none !important;
}




#banner
{
    background-image: linear-gradient(to right, #ff0000, #4d1212);
    color: #fff;
    padding-top: 5%;
}
.promo-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}
.play-btn
{
    width: 45px;
    margin: 20px;
}
.logo
{
    width: 250px;
    margin: 37px;
}
.img-fluid
{
    width: 90%;
    margin-top: 40px;
    padding-left: 50px;
}
#banner a
{
    color: black;
    text-decoration: none;
}
.bottom-img
{
    width: 100%;
}
.svg
{
    position: absolute;
    top: 150px;
    left: 0;
}




#services
{
    margin: 0;     
    padding: 0;
}
.webtoon-img
{
    width: 10px;
    margin-top: 10px;
}
.waifu-img
{
    width: 10px;
    margin-top: 10px;
}
.husbando-img
{
    width: 10px;
    margin-top: 10px;
}
.webtoon h4
{
    padding: 5px;
    margin-top: 18px;
    text-transform: uppercase;
}
.waifu h4
{
    padding: 5px;
    margin-top: 18px;
    text-transform: uppercase;
}
.husbando h4
{
    padding: 5px;
    margin-top: 18px;
    text-transform: uppercase;
}
.title::before
{
    content: '';
    background: #ff0000;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px)
}
.title::after
{
    content: '';
    background: #ff0000;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px)
}
/*<!------------------#services .btn-primary {box-shadow: none; padding: 8px 25px; border: none; border-radius: 20px; background-image: linear-gradient(to right, #ff0000, #4d1212);}*/



#tourney
{
    padding: 80px 0;
}








#footer
{
    background-image: linear-gradient(to right, #ff0000, #4d1212);
    color: #fff;
}
.footer-img
{
    width: 100%;
    image-orientation: -180deg;
}












#server
{
    background-image: linear-gradient(to right, #ff0000, #4d1212);
    padding: 100px 0;
}
.media
{
    font-size: 30px;
    font-weight: 200;
    margin-left: 430px;
    text-transform: uppercase;
}
.social-icons img
{
    width: 40px;
    transition: 0.5s;
}
.social-icons a:hover img
{
    transform: translateY(-10px);
}
.hr
{
    background-color:  color: white;
    height: 3px;
}








